body {
  font-family: Roboto, sans-serif;
  color:antiquewhite;
  /*background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');*/
  background-image: url('https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg');
  background-size: cover;
}
.webGIS {
  background-color: #535657;
  border-radius: 10px;
  padding: 20px;
}

.GIS {
  background-color: #4f5ca8;
  border-radius: 10px;
  padding: 20px;
}

.datAnalysis {
  background-color: #90974e;
  border-radius: 10px;
  padding: 20px;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .panelTopIzquierda {
    position: fixed;
    top: 45px;
    left: 20px;
    width: 200px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: 20px;
    color: #333333;
    border-radius: 5px;
    font-size:12px;
}

.panelTopIzquierda label {
    font-size: 0.85em;
}

.panelTopIzquierda input[type=range] {
    cursor: pointer;
    width: 95%;
}

.panelTitol {
    position: absolute;
    top: 5px;
    left: 45%;
    z-index:5;
    /*background-color: white;*/
    padding: 20px;
    border-radius: 4px;
    opacity: 0.9;
    font-size: 22px;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
 /* display: flex;  */
  align-items: center;
}
h1 {
  font-weight: 700;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}
small {
  font-size: 80% !important;
}
p a{
  padding: 0;
}
a {
  color:rgb(253, 203, 142);
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url('https://content.codecademy.com/projects/personal_portfolio/background.jpeg'); 
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/View_from_Volcano_Pacaya%2C_Guatemala.jpg/1920px-View_from_Volcano_Pacaya%2C_Guatemala.jpg'); */
  color: #ffffff;
  height: 200px;
  border-radius: 20px;
}

.jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row a {
padding: 0;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  border-radius: 10px;
}

.col-md-6 {
  margin: 0 0 30px;
}

/* buttons not active 
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #4b0505;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #394f72;
  color: #ffffff;
  margin: 0 0 30px;
}
*/
/* changed for bootstrap's img-fluid class
.portrait {
  width:  350px;
  height: 300px;
}
figure img {
  width: 100%;
  height: auto;
}
figure {
  margin-bottom: 30px;
}
*/

footer {
  position: fixed;
  bottom: 0;
  right:0;
  border: 2px solid #AA3939;
  border-radius: 20px;
  font-size: 14px;
  padding: 20px 0 20px;
  background-color: brown;
}

/*
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
*/
.mapboxgl-popup-content,
.mapboxgl-popup-content a {
  color: darkred ;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 80% !important;
  }
}